@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 65.2%;
    font: lato, sans-serif;
    --white: #ffffff;
    --gold: rgb(152, 128, 67);
    --hover: rgb(209, 191, 147);
    --blue: rgb(22, 87, 141);
    --red: rgb(152, 67, 85);
}

header, section, footer, aside, nav, article, figure {
    display: block;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}


/*DROPDOWN MENU*/
.dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5px;
    font-family: lato, arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: var(--gold);
}

.icon{
    width: 45px;
    height: 5px;
    background-color: var(--white);
    margin: 6px;
    border-radius: 10px;
}

li{
    list-style: none;
    line-height: 2.5;
}

a:link{
    color: var(--white);
    text-decoration: none;
}

a:visited{
    color: var(--blue);
}

a:hover{
    color: var(--hover);
    font-style: italic;
}
  
.dropdown-list {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 100%;
    padding: 20px 16px;
    z-index: 1;
    background-color: var(--gold);
}
  
.dropdown:hover .dropdown-list {
    display: block;
}


/*BOOKING CAROUSEL*/
.booking-carousel{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-carousel img{
    max-width: 600px;
    width: 100%;
    height: auto;
}


/*FORM*/
form{
    display: flex;
    justify-content: center;
}

fieldset{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: none;
    font-family: lato, sans-serif;
    font-size: 3rem;
}

label, input[type="submit"]{
    margin-top: 40px;
}


input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid var(--gold);
    border-radius: 10px;
}

input[type=submit]{
    background-color: var(--gold);
    border: none;
    color: var(--white);
    padding: 25px 55px 25px 55px;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 10px;
    transition-duration: 0.4s;
    text-transform: uppercase;
    margin-bottom: 20px;
    max-width: 300px;
}

input[type=submit]:hover{
    color: var(--hover);
    cursor: pointer;
}

/*FOOTER*/
footer{
    width: 100%;
    height: auto;
    color: rgb(222, 227, 231);
    background-color: rgba(0, 0, 0, 0.472);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 5px 0;
    line-height: 1.5;
    font-size: 1rem;
}

.line{
    width: 40px;
    margin-top: 10px;
}

@media screen and (min-width: 900px) {
    .booking-btn button{
        font-size: 2vw;
    }

    input[type=submit]{
            font-size: 2rem;
    }

    .booking-carousel img{
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
    }

    footer{
        max-height: 300px;
        font-size: 2rem;
    }

    .dropdown{
        font-size: 3rem;
        width: 100%;
        height: auto;
    }

    .dropdown-list{
        position: static;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dropdown-list ul{
        display: flex;
        border-radius: 10px;
    }

    .dropdown-list li{
        margin: 0 50px;
    }

    .icon{
        display: none;
    }

    .dropdown:hover .dropdown-list {
        display: flex;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    fieldset{
        font-size: 3rem;
        width: 50%;
    }

    .children{
        font-size: 3rem;
    }
}