@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 65.2%;
    font: lato, sans-serif;
    --white: #ffffff;
    --gold: rgb(152, 128, 67);
    --hover: rgb(209, 191, 147);
    --blue: rgb(22, 87, 141);
    --red: rgb(152, 67, 85);
}

header, section, footer, nav, figure {
    display: block;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

/*DROPDOWN MENU*/
.dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5px;
    font-family: lato, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: var(--gold);
}

.icon{
    width: 45px;
    height: 5px;
    background-color: var(--white);
    margin: 6px;
    border-radius: 10px;
}

li{
    list-style: none;
    line-height: 2.5;
}

a:link{
    color: var(--white);
    text-decoration: none;
}

a:visited{
    color: var(--blue);
}

a:hover{
    color: var(--hover);
    font-style: italic;
}
  
.dropdown-list {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 100%;
    padding: 20px 16px;
    z-index: 1;
    background-color: var(--gold);
}
  
.dropdown:hover .dropdown-list {
    display: block;
}


/*HERO CAROUSEL*/
.hero-carousel{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-carousel img{
    max-width: 600px;
    width: 100%;
    height: auto;
}


/*ADVERTISEMENT*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advertisement{
    max-width: 600px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.advertisement img{
    width: 23%;
}



/*BOOKING BUTTON*/
.link-btn{
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 25px 55px 25px 55px;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 10px;
    transition-duration: 0.4s;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 300px;
    max-height: auto;
}

input[type=submit]{
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 25px 55px 25px 55px;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    border-radius: 10px;
    transition-duration: 0.4s;
    text-transform: uppercase;
    margin-bottom: 20px;
    max-width: 300px;
}

input[type=submit]:hover{
    color: var(--gold);
    cursor: pointer;
}


/*QUOTE*/
.blockquote{
    display: flex;
    justify-content: center;
}

blockquote{
    width: 80%;
    height: auto;
    max-width: 600px;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(146, 112, 24, 0.163);
    border: 1px solid rgb(146, 112, 24);
    color:rgb(146, 112, 24);
}

.quote{
    font-style: italic;
    font-size: 1.15em;
    line-height: 1.5;
    margin: 0;
}

.quote-border{
    border-left-width: 10px;
}

.author{
    font-weight: bold;
    font-style: normal;
    text-align: right;
    color: rgba(0, 0, 0, 0.472);
}


/*CAROUSEL*/
.tourism-carousel{
    max-width: 600px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tourism-carousel img{
    width: 100%;
    height: 100%;
}


/*FOOTER*/
footer{
    width: 100%;
    height: auto;
    color: rgb(222, 227, 231);
    background-color: rgba(0, 0, 0, 0.472);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 5px 0;
    line-height: 1.5;
    font-size: 1rem;
}

.line{
    width: 40px;
    margin-top: 10px;
}

@media screen and (min-width: 900px) {
    input[type=submit]{
        font-size: 2rem;
}

    .link-btn{
        font-size: 3rem;
    }

    .hero-carousel img{
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        margin-bottom: 30px;
    }

    .tourism-carousel{
        margin: 20px 0 40px 0;
    }

    .tourism-carousel img{
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
    }

    footer{
        max-height: 300px;
        font-size: 2rem;
    }

    .dropdown{
        font-size: 3rem;
        width: 100%;
        height: auto;
    }

    .dropdown-list{
        position: static;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dropdown-list ul{
        display: flex;
        border-radius: 10px;
    }

    .dropdown-list li{
        margin: 0 50px;
    }

    .icon{
        display: none;
    }

    .dropdown:hover .dropdown-list {
        display: flex;
    }
}